@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&display=swap');

.aboutmep{
    position: absolute;
    right: 15%;
    top: 30%;
    font-size: 30px;
    color: white;
}

.skills {
    color: white;
    font-size: 30px;
    position: relative;
    top: 250px;
}

.skilldiv {
    color: white;
    font-size: 30px;
    position: relative;
    left: 500px;
    top: 230px;
}

.skillicons {
    color: white;
    font-size: 30px;
    position: relative;
    top: 250px;
    font-size: 20px;
}

.certificates {
    color: white;
    font-size: 30px;
    position: relative;
    top: 50px;
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
    right: 500px;
}

h2 {
    font-size: 40px;
}