@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather+Sans:wght@600&display=swap');

p {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    outline-color: aliceblue;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
}

.aboutmeimg{
    width: 750px;
    height: 500px; 
    position: relative;
    left: -250px;
    border-right: 5px solid white;
    margin-right: 220px;
    color: white;
}

.aboutmep{
    position: absolute;
    right: 15%;
    top: 30%;
    font-size: 30px;
    color: white;
}






