.contact-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: #dfd3c3;
    padding: 30px;
    font-size: 24px;
    position: relative;
    left: 10%;
}

.group {
    position: relative;
}

 input {
    background: transparent;
    color: white;
    outline: none;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid white;
} 

.form-input {
    background: none;
    background: transparent;
    color: #dfd3c3;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    height: 1px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #dfd3c3;
    margin: 40px 0;
    margin-bottom: 0;
}

.custom-button {
    min-width: 150px;
    width: 20%;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 15px;
    background: transparent;
    color: #dfd3c3;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    float: right;
    border: 1px solid #dfd3c3;
    margin-top: 50px;
}

.custom-button:hover {
    background-color: #dfd3c3;
    color: black;
}

.form-input-label {
    color: #dfd3c3;
    font-size: 20px;
    font-weight: normal;
    position: relative;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease;
}