.divnavbar {
    position: relative; 
    display: flex;
    right: 10px;
    top: 10px;
    justify-content: flex-end;
    z-index: 998;
    color: rgb(255, 255, 255);
}

/* .homeicon{
    position: relative; 
    display: flex;
    left: -1800px;
    font-size: 30px;
    top: 10px;
    justify-content: flex-end;
    z-index: 998;
    color: rgb(255, 255, 255);
} */