.carouselslideshow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 25%;
    left: 17%;
    width: 1314px;
    height: 634px;
}

.faceprojects {
    border: 5px solid #ffffff;
}

.bbcprojects {
    border: 5px solid #ffffff;
}

.askthexs {
    border: 5px solid #ffffff;
}